/**
 * Основные стили
 **/

 body, html {
	height: 100%;
}

body {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 16px;
  line-height: 1.42;
  font-weight: 300;
  color: $darkest-color;
  position: relative;
}

ul {
	margin: 0px;
  padding: 0px;

  li {
    list-style: none;
  }
}

.wrapper {
  position: relative;
	min-height: 100%;
  width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
	margin: 0 auto;
	max-width: 940px;
}

p {
  color: $p-color;
  margin: 0;
  padding: 0;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin: 0;
}

button {
	cursor: pointer;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

img {
	max-width: 100%;
}

footer {
  margin-top: auto;
  position: relative;
  width: 100%;
}

