$white: #fff;
$p-color: #666666;
$darkest-color: #0d0d0d;
$popup-text-color: #333333;
$fixed-nav-color: #e4e7cc;

$root-font-size: 16px;

// ! z-indexes

$fixed-nav-z-index: 1000;

// шапка

$head-menu-z-index: 50;
$welcome-before-decor: 30;
$presentation-text: 40;
$presentation-img: 10;

// menu

$menu-z-index: 10;
$menu-accordeon-desc-z-index: 50;

// team

$team-accordeon-z-index: 30;



