.article {
  display: flex;
  padding: rem(50px) rem(30px) rem(35px) rem(45px);
  background-image: url('../img/png/review-bg.png');
  margin-bottom: rem(15px);
}

.article__img {
 margin-right: rem(18px);
}

.article__text {
  width: 51%;
}

.article__title {
  font-size: rem(30px);
  font-weight: 500;
  color: #323232;
  padding-top: rem(10px);
  margin-bottom: rem(15px);
}

.article__desc {
  line-height: rem(22px);
  margin-bottom: rem(25px);
}

.article__desc, .article__name {
  font-size:rem(18px);
  font-weight: normal;
}


