.article {
  display: flex;
  padding: 50px 30px 35px 45px ;
  background-image: url('../img/png/review-bg.png');
  margin-bottom: 15px;
}

.article__img {
 margin-right: 18px;
}

.article__text {
  width: 51%;
}

.article__title {
  font-size: 30px;
  font-weight: 500;
  color: #323232;
  padding-top: 10px;
  margin-bottom: 15px;
}

.article__desc {
  line-height: 1.390rem;
  margin-bottom: 25px;
}

.article__desc, .article__name {
  font-size: 18px;
  font-weight: normal;
}


