.features {
  display: flex;
  justify-content: space-between;

}

.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}

.features__icon {
  position: relative;
  width: rem(125px);
  height: rem(125px);
  border-radius: 50%;
  background-color: #f2f5f4;
  margin-bottom: rem(25px);
  background-image: url('../img/icons/1.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 55%;

  &--hearteyes {
    background-image: url('../img/icons/3.svg');
  }

  &--muscle {
    background-image: url('../img/icons/2.svg');
  }

  &:after {
    content: "";
    width: rem(67px);
    height: rem(21px);
    position: absolute;
    top: 50%;
    right: -122%;
    transform: translateY(-50%);
    background-image: url('../img/png/promo-points.png');
  }
}

.features__icon--muscle:after {
  content: none;
}

.features__title {
  font-size: rem(27px);
  font-weight: bold;
  margin-bottom: rem(13px);
}

.features__text {
  width: 85%;
  font-size: rem(18px);
  line-height: rem(22px);
  text-align: center;
}


