.fixed-nav {
  position: fixed;
  top: 35%;
  right: 5%;
  z-index: $fixed-nav-z-index;
}

.fixed-nav__item--active .fixed-nav__dot{
  border-color: #fff;
}

.fixed-nav__dot {
  width: rem(16px);
  height: rem(16px);
  border-radius: 50%;
  border: rem(1px) solid transparent;
  margin-bottom: rem(5px);
  position: relative;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }

  &:before {
    content: "";
    width: rem(6px);
    height: rem(6px);
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

  &:hover {
    border-color: $white;
  }

}
