.fixed-nav__list {
  position: fixed;
  top: 35%;
  right: 5%;
  z-index: $fixed-nav-z-index;

  @include tablets {
    display: none;
  }
}

.fixed-nav__item {
  margin-bottom: 2px;
  border: 0.0625rem solid transparent;
  border-radius: 50%;
  background-color: transparent;
  background-repeat: no-repeat;
  transition: 0.1s;

  &:last-child {
    margin: 0;
  }

  &:hover {
    border-color: $fixed-nav-color;
  }
}

.fixed-nav__list .fixed-nav__item--active {
  border-color: $fixed-nav-color;
}

.fixed-nav__dot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(16px);
  height: rem(16px);

  &:before {
    content: "";
    display: flex;
    border-radius: 50%;
    background-repeat: no-repeat;
    width: rem(6px);
    height: rem(6px);
    background: $fixed-nav-color;
  }
}
