.menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-image: url("../img/jpeg/menu-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  margin-bottom: rem(60px);
  z-index: $menu-z-index;

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .20;
  }

  &:after {
    content: "";
    width: rem(104px);
    height: rem(114px);
    position: absolute;
    top: -11%;
    left: 4%;
    background:  url("../img/png/menu-raspberries.png") no-repeat;
  }

}

.menu__title {
  position: relative;
  padding-left: 7.28%;
  padding-top: 5.86%;
  color: inherit;
}

.accordeon{
  display: flex;
  justify-content: flex-end;
  color: inherit;
  cursor: pointer;
}

.accordeon__item {
  position: relative;
  display: flex;
  overflow: hidden;
}

.accordeon__box {
  position: relative;
  overflow: hidden;
  background-image: url('../img/jpeg/menu-honey-bars.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  object-fit: cover;
  overflow: hidden;
  width: rem(100px);
  height: 100%;

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .40;
  }
}

.accordeon__subtitle {
  font-size: rem(48px);
  font-weight: 500;
  position: absolute;
  bottom: 6.3%;
  left: 30%;
  transform: rotate(180deg) translateX(25%);
  color: inherit;
  writing-mode: vertical-rl;
}

.accordeon__desc {
  position: relative;
  width: 0;
  height: 0;
  opacity: 0;
  color: #fff;
  transition: width cubic-bezier(.16,.14,.8,1.55) .3s;
  z-index: $menu-accordeon-desc-z-index;
}

.accordeon__item--active .accordeon__desc {
  width: rem(430px);
  padding: rem(48px) rem(26px);
  animation: accordeon__desc 1s ease-in-out forwards;
  transition: width cubic-bezier(.16,.14,.8,1.55) 0.3s;
}

.accordeon__item--active .accordeon__desc p {
  color: inherit;
  line-height: rem(24px);
}

.accordeon__item--active {
  &::before {
    content: "";
    width: rem(530px);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #2f3234;
    opacity: .93;
    transition: width cubic-bezier(.16,.14,.8,1.55) 1s;
  }
}


@keyframes accordeon__desc {
  90% {
    opacity: 0;
  }

  95% {
    opacity: .75;
  }

  100% {
    opacity: 1;
  }
}
