
.phone {
  display: flex;
  align-items: center;

  &__link {
    color: $white;
    font-size: rem(24px);
    font-weight: normal;
    white-space: nowrap;

    &:before {
      content: url('../img/png/phone.png');
      width: rem(12px);
      height: rem(11px);
      margin-right: rem(4px);
    }
  }

  @include tablets{
    display: none;
  }

  @include phones{
    display: none;
  }
}

.phone--footer {
  @include tablets {
    display: flex;
  }
  @include phones {
    display: flex;
    justify-content: center;
  }
}


