.presentation {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 20;
}

.presentation__block {
  display: flex;
  flex-direction: column;
}

.presentation__desc {
  width: 70%;
  padding-top: rem(85px);
}

.presentation__title {
  font-size: 3.75rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 3.75rem;
  margin-bottom: rem(12px);
}

.presentation__text {
  margin-bottom: rem(32px);
}

.presentation__text p {
  font-size: 1.3125rem;
  line-height: 1.5125rem;
  color: $white;
  font-weight: normal;

}

.presentation__img {
  width: 125%;
  margin-right: rem(-55px);
  margin-top: rem(-10px);
}

.presentation__button {
  color: #0f5a47;
  background-color: #fff;
  transition: 0.2s;
  margin-bottom: rem(68px);

  &:hover {
    box-shadow: rem(0px) rem(0px) rem(25px) rem(0px) rgba(0, 0, 0, .35);
  }
}
