.welcome {
  position: relative;
  color: $white;
  background-color: #61c4d9;
  // margin-bottom: rem(100px);

}

.welcome__container {
  justify-content: flex-start;
}

.welcome:after {
  content: "";
  width: 100%;
  height: 22.0625rem;
  position: absolute;
  bottom: -2.8125rem;
  right: 0;
  z-index: $welcome-before-decor;
  background: url(../img/png/welcome-decor.png) center no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;


  @include tablets {
    bottom: 38.3125rem;
    background: url(../img/png/welcome-tablets-berries.png) center no-repeat;
  }

  @include phones {
    bottom: 50%;
    background: url(../img/png/welcome-tablets-berries.png) center no-repeat;
    background-size: 68%;
  }
}

.welcome:before {
  content: "";
  width: 32rem;
  height: 40.5rem;
  position: absolute;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-image: url('../img/png/welcome-pattern.png');
  background-repeat: no-repeat;

  @include tablets {
    bottom: 42%;
  }

  @include phones {
    bottom: 37%;
  }
}

.welcome__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: $head-menu-z-index;
  padding-top: rem(18px);
}
