.why-chocco {
  position: relative;
}

.why-chocco:before {
  content: "";
  width: 11.9375rem;
  height: 19.625rem;
  position: absolute;
  left: 0;
  top: 12%;
  display: block;
  background: url(../img/png/promo-pattern.png) no-repeat;
  background-size: cover;
}

.why-chocco:after {
  content: "";
  width: 10.0625rem;
  height: 18.25rem;
  position: absolute;
  left: 0;
  top: 56%;
  display: block;
  background: url(../img/png/promo-raspberries.png) no-repeat;
  background-size: cover;
}

.why-chocco__container {
  max-width: 64.375rem;
}

.why-chocco__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: rem(58px);
}

.why-chocco__desc {
  width: 45%;
  text-align: center;
  font-size: rem(18px);
  line-height: rem(21px);
  font-weight: normal;
}
